.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 10px;
  background-color: var(--blue-100);
  width: 90%;
  border-radius: 10px;
  position: relative;
  height: 70px;
  min-height: 70px;
  padding: 20px;
  letter-spacing: 3px;
}

.task-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70%;
  text-align: center;
  gap: 5px;
  position: absolute;
}

.task-content strong {
  color: #fff;
  display: block;
}

.task-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  position: absolute;
  right: 0px;
  gap: 5px;
}

.task-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  text-decoration: none;
  color: var(--blue-100);
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.task-action:hover {
  width: 50px;
  height: 50px;
}

.title,
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: var(--green) 1.5px solid;
  border-radius: 5px;
  width: 100%;
}
.content,
.content > p {
  height: 100px;
  width: 100%;
}

.title:hover,
.content :hover {
  cursor: pointer;
  background-color: var(--green);
}
